.inc_product_block {
    max-width: 230px;
    min-width: 260px;
    background-color: #fff;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inc_product_image {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_element {
        padding: 10px;
        width: 200px;
        height: 250px;
    }
}

.inc_product_description {
    padding: 10px;
    &_name {
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        cursor: pointer;
        min-height: 47px!important;
        max-height: 47px!important;
        font-family: proxima-nova,"Proxima Nova",sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #2c2c2c;
        text-decoration: none;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        display: block;
        width: 95%;
        text-align: center;
        line-height: 22px;
    }
    &_price {
        text-align: center;
    }
    &_button {
        height: 40px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid #000;
        background: 0 0;
        color: #000;
        line-height: 38px;
        font-family: proxima-nova,"Proxima Nova",sans-serif;
        margin-top: 10px;
        &:hover {
            background-color: #ddd;
        }
        &_added {
            background-color: #111;
            color: #fff;
            &:hover {
                background-color: #222;
            }
        }
    }
}
