.inc_pdp_recs_block{
    padding: 100px;
}
.inc_pdp_rect_title{
    text-align: center;
    font-size: 32px;
    font-weight: 550;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 50px;
}