.inc_pdp_block {
    margin: 30px 0;
    background: #eff3f6;
    padding: 60px 0 70px;

    &_balsam{
        margin: 100px -40px 30px;;
    }
}

.inc_pdp_title {
    text-align: center;
    font-size: 32px;
    font-weight: 550;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 0;
}
.inc_pdp_slider {
    max-width: 650px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.inc_pdp_product_list_block {
    margin: 50px auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.inc_pdp_product_plus_sign {
    // height: 20px;
    font-size: 40px;
}



// Swiper
.swiper-initialized {
    min-width: 0;
    z-index: 0 !important;
}

.swiper-slide {
    width: auto;
    flex-shrink: 0;
    display: block;
    height: 100%;
    max-height: 100%;
}

.swiper-wrapper {
    max-height: 100%;
    height: 100%t;
    display: flex;
}
.swiper-button-next,
.swiper-button-prev {
    color: black !important;
}
